<div class="example-container mat-elevation-z8">
    <h2>Schools List</h2>
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/add-schools']"><mat-icon>add</mat-icon> Schools</a>
    </div>
    <mat-divider></mat-divider>

    <mat-card class="mat-elevation-z8">
      <mat-card-title>Filter by</mat-card-title>
      <form [formGroup]="filterForm" (ngSubmit)="onFormSubmit()">
        <mat-form-field class="example-container">
            <mat-label>State</mat-label>
            <mat-select formControlName="state">
                <mat-option *ngFor="let sl of stateList" [value]="sl">
                    {{sl}}
                </mat-option>
                </mat-select>                
            <mat-error>
                <span *ngIf="!filterForm.get('state').valid && filterForm.get('state').touched">Please select state</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-container">
            <mat-label>Suburb</mat-label>
            <input matInput placeholder="Suburb" formControlName="suburb" [errorStateMatcher]="matcher">
            <mat-error>
                <span *ngIf="!filterForm.get('suburb').valid && filterForm.get('suburb').touched">Please enter suburb</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-container">
            <mat-label>Street</mat-label>
            <input matInput placeholder="Street" formControlName="street" [errorStateMatcher]="matcher">
            <mat-error>
                <span *ngIf="!filterForm.get('street').valid && filterForm.get('street').touched">Please enter Street</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-container">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name" [errorStateMatcher]="matcher">
          <mat-error>
              <span *ngIf="!filterForm.get('name').valid && filterForm.get('name').touched">Please enter Name</span>
          </mat-error>
       </mat-form-field>
        
            <button class="example-container" type="submit" [disabled]="!filterForm.valid" mat-flat-button color="primary">
                <mat-icon>
                    search
                </mat-icon>
            </button>
    </form>  
    </mat-card>
    
    <mat-divider></mat-divider>
    
    <mat-card class="mat-elevation-z8">
    
      <table mat-table [dataSource]="data" class="example-table"
             matSort matSortActive="schoolName" matSortDisableClear matSortDirection="asc">
  
       
        <ng-container matColumnDef="schoolName">
          <th mat-header-cell *matHeaderCellDef>School Name</th>
          <td mat-cell *matCellDef="let row">{{row.schoolName}}</td>
        </ng-container>
  
        
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>type</th>
          <td mat-cell *matCellDef="let row">{{row.type}}</td>
        </ng-container>
  
        
        <ng-container matColumnDef="studentCount">
          <th mat-header-cell *matHeaderCellDef>Student Count</th>
          <td mat-cell *matCellDef="let row">{{row.studentCount}}</td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Address</th>
          <td mat-cell *matCellDef="let row">{{row.address?.street + ', ' + row.address?.suburb}}
                                              
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef>State</th>
          <td mat-cell *matCellDef="let row">{{row.address?.state}}</td>
        </ng-container>

        <ng-container matColumnDef="postCode">
          <th mat-header-cell *matHeaderCellDef>Post Code</th>
          <td mat-cell *matCellDef="let row">{{row.address?.postCode}}</td>
        </ng-container>
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card>
  </div>