<div class="example-container mat-elevation-z8">
    <h2>Add School</h2>
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
        <a mat-flat-button color="primary" [routerLink]="['/schools']">
            <mat-icon>list</mat-icon>
        </a>
    </div>
    <mat-card class="example-card">
        <form [formGroup]="schoolsForm" (ngSubmit)="onFormSubmit()">
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!schoolsForm.get('name').valid && schoolsForm.get('name').touched">Please enter Name</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type">
                <mat-option *ngFor="let gl of typeList" [value]="gl">
                    {{gl}}
                </mat-option>
                </mat-select>
                <mat-error>
                    <span *ngIf="!schoolsForm.get('type').valid && schoolsForm.get('type').touched">Please enter school type</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Student Count</mat-label>
                <input matInput type="number" placeholder="Student Count" formControlName="studentCount" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!schoolsForm.get('studentCount').valid && schoolsForm.get('studentCount').touched">Please enter student count</span>
                </mat-error>
            </mat-form-field> 
            <mat-form-field class="example-full-width">
                <mat-label>State</mat-label>
                <mat-select formControlName="state">
                    <mat-option *ngFor="let sl of stateList" [value]="sl">
                        {{sl}}
                    </mat-option>
                    </mat-select>                
		    <mat-error>
                    <span *ngIf="!schoolsForm.get('state').valid && schoolsForm.get('state').touched">Please select state</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Suburb</mat-label>
                <input matInput placeholder="Suburb" formControlName="suburb" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!schoolsForm.get('suburb').valid && schoolsForm.get('suburb').touched">Please enter suburb</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Street</mat-label>
                <input matInput placeholder="Street" formControlName="street" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!schoolsForm.get('street').valid && schoolsForm.get('street').touched">Please enter Street</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Post Code</mat-label>
                <input matInput placeholder="Post Code" formControlName="postCode" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!schoolsForm.get('postCode').valid && schoolsForm.get('postCode').touched">Please enter PostCode</span>
                </mat-error>
            </mat-form-field>
            <div class="button-row">
                <button type="submit" [disabled]="!schoolsForm.valid" mat-flat-button color="primary">
                    <mat-icon>
                        save
                    </mat-icon>
                </button>
            </div>
            
        </form>
    </mat-card>
</div>